body{
	margin: 0;
	font-family: 'Raditya';
}
@font-face{
	src:url('Font/Lobster-Regular.ttf');
	font-family: 'Yoga';
}
@font-face{
	src:url('Font/Cabin-Regular.ttf');
	font-family: 'Raditya';
}

header{
	background: url('Image/1_Profil.png');
	background-size: cover;
	background-attachment: fixed;
	height: 676px;
	width: 100%;
}
header nav{
	z-index: 99;
	position: fixed;
	background-color: black;
	height: 50px;
	width: 100%;
	top: 0px;
	opacity: 0.7;
	filter: alpha(opacity);
}
header nav ul{
	position: absolute;
	display: flex;
	list-style: none;
	left: 330px;
	top: 1px;
}
header nav ul li a{
	text-decoration: none;
	padding: 11px 30px;
	color: white;
	transition: all .1s ease;
}
header nav ul li a:hover{
	color: #01A0FB;
	border-bottom: 5px solid;
}

.logo{
	position: absolute;
	left: 525px;
	top: 90px;
	width: 22%;
}
.logo img{
	width: 100%;
}
.info_titik{
	position: relative;
	font-size: 80px;
	bottom: 128px;
	padding: 0px 10px;
}
.info_1{
	position: absolute;
	display: flex;
	top: 430px;
	left: 472px;
	color: #FFF;
}
.info_2{
	position: absolute;
	display: flex;
	top: 450px;
	left: 458.5px;
	color: #FFF;
}
 
.klik_1{
	position: absolute;
	background-color: #01A0FB;
	padding: 10px 50px;
	left: 482px;
	top: 500px;
	cursor: pointer;
}
.klik_1 a{
	text-decoration: none;
	color: #FFF;
}
.klik_2{
	position: absolute;
	background-color: #01A0FB;
	padding: 10px 50px;
	left: 682px;
	top: 500px;
	cursor: pointer;
}
.klik_2 a{
	text-decoration: none;
	color: #FFF;
}
.klik_1:hover{
	background: #86C127;
	color: black;
	transition: all .3s ease;
}
.klik_2:hover{
	background: #86C127;
	color: black;
	transition: all .3s ease;
}

.section_atas{
	position: relative;
	background-color: #01A0FB;
	height: 350px;
	width: 100%;
}
.section_atas_kiri{
	float: left;
	width: 45%;
	text-align: center;
	padding: 50px 25px;
	color: #FFF;
}
.section_atas_kanan{
	float: right;
	width: 45%;
	text-align: center;
	padding: 50px 25px;
	color: #FFF;
}


.section_tengah_kepala{
	position: relative;
	left: 570px;
	bottom: 110px;
	width: 15%;
}
.section_tengah_kepala img{
	width: 100%;
}
.section_tengah_text{
	position: relative;
	text-align: center;
	top: -120px;
}
.section_tengah_sambutan{
	position: relative;
	text-align: center;
	padding: 0px 200px;
	bottom: 90px;
}

.section_bawah{
	position: relative;
	display: flex;
	bottom: 20px;
}
.section_bawah a{
	text-decoration: none;
}
.section_bawah h3{
	position: relative;
	bottom: 10px;
	color: #000;
}
.section_bawah_1{
	position: relative;
	float: left;
	width: 25%;
	text-align: center;
	left: 150px;
}
.section_bawah_2{
	position: relative;
	float: left;
	width: 25%;
	text-align: center;
	left: 50px;
}
.section_bawah_3{
	position: relative;
	float: right;
	width: 25%;
	text-align: center;
	right: 50px;
}
.section_bawah_4{
	position: relative;
	float: right;
	width: 25%;
	text-align: center;
	right: 150px;
}
.section_bawah_hr{
	position: relative;
	max-width: 200px;
	border: 3px solid;
	bottom: 10px;
	color: #01A0FB;
}
.section_bawah h3:hover{
	color: #01A0FB;
	transition: all .3s ease;
}

.section_bawah_lagi{
	position: relative;
	background: #01A0FB;
	width: 100%;
	height: 150px;
	bottom: 19px;
}
.section_bawah_lagi p{
	position: relative;
	text-align: center;
	top: 50px;
	color: #FFF;
	font-size: 40px;
	font-family: 'Yoga';
}
.section_bawah_lagi_kiri{
	float: left;
	width: 60%;
	height: 890px;
}
.section_bawah_lagi_kiri h1{
	position: relative;
	left: 42px;
	top: 20px;
}
.section_bawah_lagi_hr_kiri{
	position: relative;
	border: 3px solid;
	max-width: 720px;
	top: 7px;
	color: #CCCCCC;
}

.section_bawah_lagi_galeri{
	display: flex;
}
.section_bawah_lagi_galeri_1{
	position: relative;
	width: 230px;
	height: 230px;
	left: 42px;	
	top: 20px;
	overflow: hidden;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_1 img{
	width: 100%;
	height: 100%;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_1 p{
	text-align: center;
	padding: 75px 50px;
	color: #FFF;
}
.section_bawah_lagi_galeri_1_hover{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
	opacity: .6;
	transition:all .5s ease;
	visibility: hidden;
}
.section_bawah_lagi_galeri_1:hover .section_bawah_lagi_galeri_1_hover{
	transition:all .5s ease;
	visibility: visible;
}
.section_bawah_lagi_galeri_1:hover > img{
	transform:scale(1.5);
	transition:all .5s ease;
}


.section_bawah_lagi_galeri_2{
	position: relative;
	width: 230px;
	height: 230px;
	left: 60px;	
	top: 20px;
	overflow: hidden;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_2 img{
	width: 100%;
	height: 100%;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_2 p{
	text-align: center;
	padding: 75px 50px;
	color: #FFF;
}
.section_bawah_lagi_galeri_2_hover{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
	opacity: .6;
	transition:all .5s ease;
	visibility: hidden;
}
.section_bawah_lagi_galeri_2:hover .section_bawah_lagi_galeri_2_hover{
	transition:all .5s ease;
	visibility: visible;
}
.section_bawah_lagi_galeri_2:hover > img{
	transform:scale(1.5);
	transition:all .5s ease;
}


.section_bawah_lagi_galeri_3{
	position: relative;
	width: 230px;
	height: 230px;
	left: 77px;	
	top: 20px;
	overflow: hidden;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_3 img{
	width: 100%;
	height: 100%;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_3 p{
	text-align: center;
	padding: 75px 50px;
	color: #FFF;
}
.section_bawah_lagi_galeri_3_hover{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
	opacity: .6;
	transition:all .5s ease;
	visibility: hidden;
}
.section_bawah_lagi_galeri_3:hover .section_bawah_lagi_galeri_3_hover{
	transition:all .5s ease;
	visibility: visible;
}
.section_bawah_lagi_galeri_3:hover > img{
	transform:scale(1.5);
	transition:all .5s ease;
}




.section_bawah_lagi_galeri_4{
	position: relative;
	width: 230px;
	height: 230px;
	left: 42px;	
	top: 40px;
	overflow: hidden;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_4 img{
	width: 100%;
	height: 100%;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_4 p{
	text-align: center;
	padding: 75px 50px;
	color: #FFF;
}
.section_bawah_lagi_galeri_4_hover{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
	opacity: .6;
	transition:all .5s ease;
	visibility: hidden;
}
.section_bawah_lagi_galeri_4:hover .section_bawah_lagi_galeri_4_hover{
	transition:all .5s ease;
	visibility: visible;
}
.section_bawah_lagi_galeri_4:hover > img{
	transform:scale(1.5);
	transition:all .5s ease;
}




.section_bawah_lagi_galeri_5{
	position: relative;
	width: 230px;
	height: 230px;
	left: 60px;	
	top: 40px;
	overflow: hidden;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_5 img{
	width: 100%;
	height: 100%;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_5 p{
	text-align: center;
	padding: 75px 50px;
	color: #FFF;
}
.section_bawah_lagi_galeri_5_hover{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
	opacity: .6;
	transition:all .5s ease;
	visibility: hidden;
}
.section_bawah_lagi_galeri_5:hover .section_bawah_lagi_galeri_5_hover{
	transition:all .5s ease;
	visibility: visible;
}
.section_bawah_lagi_galeri_5:hover > img{
	transform:scale(1.5);
	transition:all .5s ease;
}




.section_bawah_lagi_galeri_6{
	position: relative;
	width: 230px;
	height: 230px;
	left: 77px;	
	top: 40px;
	overflow: hidden;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_6 img{
	width: 100%;
	height: 100%;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_6 p{
	text-align: center;
	padding: 75px 50px;
	color: #FFF;
}
.section_bawah_lagi_galeri_6_hover{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
	opacity: .6;
	transition:all .5s ease;
	visibility: hidden;
}
.section_bawah_lagi_galeri_6:hover .section_bawah_lagi_galeri_6_hover{
	transition:all .5s ease;
	visibility: visible;
}
.section_bawah_lagi_galeri_6:hover > img{
	transform:scale(1.5);
	transition:all .5s ease;
}



.section_bawah_lagi_galeri_7{
	position: relative;
	width: 230px;
	height: 230px;
	left: 42px;	
	top: 60px;
	overflow: hidden;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_7 img{
	width: 100%;
	height: 100%;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_7 p{
	text-align: center;
	padding: 75px 50px;
	color: #FFF;
}
.section_bawah_lagi_galeri_7_hover{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
	opacity: .6;
	transition:all .5s ease;
	visibility: hidden;
}
.section_bawah_lagi_galeri_7:hover .section_bawah_lagi_galeri_7_hover{
	transition:all .5s ease;
	visibility: visible;
}
.section_bawah_lagi_galeri_7:hover > img{
	transform:scale(1.5);
	transition:all .5s ease;
}



.section_bawah_lagi_galeri_8{
	position: relative;
	width: 230px;
	height: 230px;
	left: 60px;	
	top: 60px;
	overflow: hidden;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_8 img{
	width: 100%;
	height: 100%;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_8 p{
	text-align: center;
	padding: 75px 50px;
	color: #FFF;
}
.section_bawah_lagi_galeri_8_hover{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
	opacity: .6;
	transition:all .5s ease;
	visibility: hidden;
}
.section_bawah_lagi_galeri_8:hover .section_bawah_lagi_galeri_8_hover{
	transition:all .5s ease;
	visibility: visible;
}
.section_bawah_lagi_galeri_8:hover > img{
	transform:scale(1.5);
	transition:all .5s ease;
}




.section_bawah_lagi_galeri_9{
	position: relative;
	width: 230px;
	height: 230px;
	left: 77px;	
	top: 60px;
	overflow: hidden;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_9 img{
	width: 100%;
	height: 100%;
	transition:all .5s ease;
}
.section_bawah_lagi_galeri_9 p{
	text-align: center;
	padding: 75px 50px;
	color: #FFF;
}
.section_bawah_lagi_galeri_9_hover{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
	opacity: .6;
	transition:all .5s ease;
	visibility: hidden;
}
.section_bawah_lagi_galeri_9:hover .section_bawah_lagi_galeri_9_hover{
	transition:all .5s ease;
	visibility: visible;
}
.section_bawah_lagi_galeri_9:hover > img{
	transform:scale(1.5);
	transition:all .5s ease;
}




.section_bawah_lagi_kanan{
	float: right;
	width: 40%;
	height: 890px;
}
.section_bawah_lagi_kanan h1{
	position: absolute;
	left: 855px;
	top: 2083px;
}
.section_bawah_lagi_hr_kanan_1{
	position: relative;
	border: 3px solid;
	max-width: 440px;
	top: 58px;
	color: #CCCCCC;
}

.section_bawah_lagi_kanan_agenda_1{
	position: absolute;
	display: flex;
	top: 2162px;
	left: 856px;
}
.section_bawah_lagi_kanan_agenda_1_gambar{
	width: 90px;
	height: 90px;
}
.section_bawah_lagi_kanan_agenda_1_gambar img{
	width: 100%;
	height: 100%;
}
.section_bawah_lagi_kanan_agenda_1 p{
	padding: 0px 10px;
}

.section_bawah_lagi_kanan_agenda_2{
	position: absolute;
	display: flex;
	top: 2269px;
	left: 856px;
}
.section_bawah_lagi_kanan_agenda_2_gambar{
	width: 90px;
	height: 90px;
}
.section_bawah_lagi_kanan_agenda_2_gambar img{
	width: 100%;
	height: 100%;
}
.section_bawah_lagi_kanan_agenda_2 p{
	padding: 0px 10px;
}

.section_bawah_lagi_kanan_agenda_3{
	position: absolute;
	display: flex;
	top: 2374px;
	left: 856px;
}
.section_bawah_lagi_kanan_agenda_3_gambar{
	width: 90px;
	height: 90px;
}
.section_bawah_lagi_kanan_agenda_3_gambar img{
	width: 100%;
	height: 100%;
}
.section_bawah_lagi_kanan_agenda_3 p{
	padding: 0px 10px;
}

.section_bawah_lagi_kanan_agenda_4{
	position: absolute;
	display: flex;
	top: 2482px;
	left: 856px;
}
.section_bawah_lagi_kanan_agenda_4_gambar{
	width: 90px;
	height: 90px;
}
.section_bawah_lagi_kanan_agenda_4_gambar img{
	width: 100%;
	height: 100%;
}
.section_bawah_lagi_kanan_agenda_4 p{
	padding: 0px 10px;
}

.section_bawah_lagi_kanan_agenda_5{
	position: absolute;
	display: flex;
	top: 2588px;
	left: 856px;
}
.section_bawah_lagi_kanan_agenda_5_gambar{
	width: 90px;
	height: 90px;
}
.section_bawah_lagi_kanan_agenda_5_gambar img{
	width: 100%;
	height: 100%;
}
.section_bawah_lagi_kanan_agenda_5 p{
	padding: 0px 10px;
}

.section_bawah_lagi_kanan_agenda_6{
	position: absolute;
	display: flex;
	top: 2695px;
	left: 856px;
}
.section_bawah_lagi_kanan_agenda_6_gambar{
	width: 90px;
	height: 90px;
}
.section_bawah_lagi_kanan_agenda_6_gambar img{
	width: 100%;
	height: 100%;
}
.section_bawah_lagi_kanan_agenda_6 p{
	padding: 0px 10px;
}

.section_bawah_lagi_kanan_agenda_7{
	position: absolute;
	display: flex;
	top: 2805px;
	left: 856px;
}
.section_bawah_lagi_kanan_agenda_7_gambar{
	width: 90px;
	height: 90px;
}
.section_bawah_lagi_kanan_agenda_7_gambar img{
	width: 100%;
	height: 100%;
}
.section_bawah_lagi_kanan_agenda_7 p{
	padding: 0px 10px;
}

.clear{
	clear: both;
}

footer{
	position: relative;
	bottom: 25px;
}
.footer_hr{
	border: 3px solid;
	max-width: 1255px;
	color: #CCCCCC;
}
footer nav{
	position: absolute;
	left: 200px;
	top: -5px;
	height: 0px;
}
footer ul{
	display: flex;
	list-style: none;
}
footer ul li{
	width: 35%;
}
footer ul li a{
	text-decoration: none;
	color: #000;
}
.footer_halaman_1{
	position: relative;
	bottom: 20px;
}
.footer_halaman_2{
	position: relative;
	bottom: 20px;
}
.footer_contact_1{
	position: relative;
	right: 184px;
}
.footer_contact_2{
	position: relative;
	right: 200px;
}
.footer_link{
	position: relative;
	right: 130px;
	bottom: 1px;
}
.footer_sosial_ok_1{
	position: relative;
	display: flex;
	width: 20%;
	left: 650px;
	bottom: 145px;
}
.footer_sosial_ok_1 a img{
	width: 100%;
	height: 100%;
}
.footer_sosial_2{
	position: relative;
	left: 5px;
}
.footer_sosial_3{
	position: relative;
	left: 10px;
}
.footer_sosial_4{
	position: relative;
	left: 15px;
}
.footer_sosial_5{
	position: relative;
	left: 20px;
}
.footer_sosial_ok_2{
	position: relative;
	display: flex;
	width: 20%;
	left: 650px;
	bottom: 130px;
}
.footer_sosial_ok_2 a img{
	width: 100%;
	height: 100%;
}
.footer_sosial_7{
	position: relative;
	left: 5px;
}
.footer_sosial_8{
	position: relative;
	left: 10px;
}
.footer_sosial_9{
	position: relative;
	left: 15px;
}
.footer_sosial_10{
	position: relative;
	left: 20px;
}

.footer_background{
	position: relative;
	background-color: #282828;
	height: 60px;
	top: 240px;

}
.footer_p_1{
	position: absolute;
	left: 95px;
	top: 8px;
	color: #FFF;
}
.footer_p_2{
	position: absolute;
	left: 950px;
	top: 8px;
	color: #FFF;
}